<div
  class="bg-gradient-to-r from-indigo-700 to-blue-500 w-full sticky top-0 z-50"
>
  <div class="max-w-screen-2xl mx-auto">
    <!-- Menu -->
    <div class="flex">
      <div
        class="flex items-center text-white uppercase font-semibold text-lg ml-3 md:ml-7 py-2"
      >
        <div class="w-16">
          <img src="{{ logo1 }}" alt="" class="" />
        </div>
        <p class="ml-1">Logiciel Applab</p>
        <!-- Botton celular -->
        <button
          class="md:hidden right-10 absolute border-2 border-blue-400 py-2 px-4 rounded hover:bg-blue-400"
          (click)="abrir()"
        >
          <i class="{{ icono[indice] }}"></i>
        </button>
      </div>
      <div
        class="flex gap-6 ml-24 text-white hidden md:block md:flex md:items-center"
      >
        <a class="hover:text-blue-200 font-semibold" [routerLink]="rutas[0]"
          >Inicio</a
        >
        <a class="hover:text-blue-200 font-semibold" [routerLink]="rutas[1]"
          >Contacto</a
        >
        <!-- <a class="hover:text-blue-200 font-semibold" [routerLink]="rutas[2]"
          >Nosotros</a
        > -->
      </div>
    </div>
    <!-- Menu responsivo -->
    <div
      class="grid text-white md:hidden border-t border-b border-blue-400"
      *ngIf="indice == 1"
    >
      <a
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md"
        [routerLink]="rutas[0]"
        >Inicio</a
      >
      <a
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md"
        [routerLink]="rutas[1]"
        >Contacto</a
      >
      <!-- <a
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md"
        [routerLink]="rutas[2]"
        >Nosotros</a
      > -->
    </div>
  </div>
</div>
