/* @import "~swiper/css";
@import "~swiper/css/effect-creative"; */
.swiper {
  object-fit: fill !important;
  width: 100% !important;
  max-width: none !important;
}

.swiper-slide {
  /* display: flex; */
  /*  object-fit: cover; */
  /* align-items: center; */
  /*  justify-content: center; */
  /* color: #fff; */
  /* border-radius: 3px; */
}
