<div class="bg-gradient-to-r from-blue-500 to-indigo-700 w-full">
  <div class="max-w-screen-xl">
    <div class="grid grid-cols-2">
      <div
        class="py-4 flex justify-center items-center text-white uppercase font-semibold text-base"
      >
        <img src="{{ logo1 }}" alt="" class="h-16 rounded-full" />
        <p class="ml-1">Logiciel Applab</p>
      </div>
      <div class="flex items-center justify-around">
        <p class="pb-16 absolute text-white font-semibold text-base">
          Encuentranos en nuestras redes
        </p>
        <a
          class="z-50"
          href="https://www.facebook.com/Logiciel-AppLab-115115559920070"
          target="_blank"
        >
          <img class="h-8" [src]="icons[0]" alt="" />
        </a>
        <a
          class="z-50"
          href="https://www.instagram.com/logicielapplab/"
          target="_blank"
        >
          <img class="h-8" [src]="icons[1]" alt="" />
        </a>
        <a class="z-50" href="" target="_blank">
          <img class="h-8" [src]="icons[2]" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
